body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('header.png');
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    color: white;
}

.Bilde {
    height: 70px;
    width: 70px;
}

header h1 {
    margin: 0;
}

header .logo {
    max-height: 50px;
}

header .home-button {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

header .home-button:hover {
    background-color: rgba(0, 86, 179, 0.8);
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.article-content {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
}

.article-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.article-content h2 {
    text-align: center;
    margin-top: 20px;
}

.article-content p {
    text-align: justify;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8;
    color: #333;
}